<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Movie Name</th>
            <th>Movie Year</th>
            <th>Movie Synopsis</th>
            <th>Update Movie</th>
            <th>Delete Movie</th>
         </tr>
    </thead>
    <tr ng-repeat="x in data" ng-hide="s.deleted">
        <td>{{x.movieName}}</td>
        <td>{{x.movieYear}}</td>
        <td>{{x.movieSynopsis}}</td>
        <td><a ui-sref="updateMovie({idMovie:x.movieId})" class="btn btn-primary">
            <span>Update</span>
            </a>
        </td>
        <td><button class="btn btn-danger" ng-click="deleteMovie(x.movieId);">Delete</button></td>
    </tr>
</table>